name: Deploy Hugo to Firebase
on:
  push:
    branches:
      - main  # Make sure your primary branch is named 'main'

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true  # Essential for PaperMod or other themes
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Site
        run: hugo --minify

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_UNIQSANDBOX }}'
          projectId: uniqsandbox  # Replace with your Firebase Project ID
          channelId: live
